[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
psycopg = "*"
bootstrap-flask = "*"
wtforms = "*"
flask-wtf = "*"
psycopg2-binary = "*"
sqlparse = "*"
flask-login = "*"
email-validator = "*"
flask-mail = "*"
itsdangerous = "*"
aiosmtpd = "*"
pillow = "*"

[dev-packages]
smtpd = "*"
aiosmtpd = "*"

[requires]
python_version = "3.13"
