{% extends 'base.html' %}
{% block title %} Рецепты в планировщике {% endblock %}
{% block content %}
<h1>Рецепты в планировщике</h1>
<div class="text-center my-4">
    <p><a href="{{url_for('planner.start_planner')}}" class="btn btn-primary btn-lg">Запустить планировщик</a></p>
</div>
{% if rows %}
<ul class="list-group">
    {% for recipe in rows %}
    <li class="list-group-item mb-3">
        <div class="d-flex justify-content-between align-items-center gap-3">
            <img src="{{recipe['image_url']}}"
                 class="img-thumbnail"
                 style="width: 220px; height: 150px; object-fit: cover;">
            <div class="flex-grow-1" style="min-width:0;">
                <a href="{{ url_for('my_recipes.view_recipe', recipe_id=recipe['recipe_id']) }}">
                    <strong>{{ recipe['title'] }}</strong>
                </a>
                <div class="mb-1 text-break" style="white-space:normal;">{{ recipe['description'] }}</div>
                <small>Сложность: {{ recipe['difficulty'] or '-' }}</small>

            </div>

            <div>
                <form method="post"
                      action="{{ url_for('planner.delete_from_planner', recipe_id=recipe['recipe_id']) }}"
                      onsubmit="return confirm('Вы действительно хотите удалить рецепт?')">
                    {{ delete_form.csrf_token }}
                    <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>
                </form>
            </div>

        </div>


    </li>
    {% endfor %}
</ul>
{% else %}
<p>Пока что нет добавленных рецептов</p>
{% endif %}
{% endblock %}

