@import url('fonts.css');

body {
    background: #212121;
    color: #fff;
}

h1 {
    font-family: RussoOne-Regular, fantasy;
    font-weight: 400;
}

.header {
    padding: 15px;
    position: sticky;
    top: 0;
}

.page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
    flex: 1 1 auto;
}

.header_image {
    display: block;
    width: 48px;
    height: 48px;
}