{% extends 'base.html' %}
{% block title %}
Панель администратора
{% endblock %}
{% block content %}
<div>
    <h2 class = "text-center mb-4">Панель администратора</h2>
    <div class = "d-flex flex-wrap justify-content-center gap-2">
        <a href="{{url_for('admin.work_with_users')}}" class = "btn btn-outline-light me-2">Работа с пользователями</a>
        <a href="#" class = "btn btn-outline-light me-2">Работа с публикациями</a>
        <a href="#" class = "btn btn-outline-light me-2">Работа с категориями</a>
        <a href="#" class = "btn btn-outline-light me-2">Работа с рецептами</a>
    </div>

</div>

{% endblock %}