{% extends 'base.html' %}
{% block title %}
Работа с публикациями
{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Публикация рецептов</h2>
{% if wait_to_be_publicated %}
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Сложность</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Описание</th>
            <th scope="col">Статус</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in wait_to_be_publicated %}
        <tr>
            <td>{{recipe['recipe_id']}}</td>
            <td>{{recipe['creation_date']}}</td>
            <td>{{recipe['difficulty']}}</td>
            <td>{{recipe['title']}}</td>
            <td>{{recipe['description']}}</td>
            <td>{{recipe['status_of_recipe']}}</td>
            <td>
                <div class="ms-auto d-flex align-items-center gap-1">
                    <form method="post"
                          action="{{url_for('admin.approve_recipe', recipe_id=recipe['recipe_id'])}}"
                          onsubmit="return confirm('Вы действительно хотите опубликовать данный рецепт?')">
                        {{approve_form.csrf_token}}
                        <button type="submit" class="btn btn-sm btn-success"><span class="fa-solid fa-check"></span>
                        </button>
                    </form>
                    <form method="post"
                          action="{{url_for('admin.reject_recipe', recipe_id = recipe['recipe_id'])}}"
                          onsubmit="return confirm('Вы действительно хотите отклонить публикацию рецепта?')">
                        {{reject_form.csrf_token}}
                        <button type="submit" class="btn btn-sm btn-danger"><span class="fa-solid fa-xmark"></span>
                        </button>
                    </form>
                    <a href="{{ url_for('my_recipes.view_recipe', recipe_id=recipe['recipe_id']) }}"
                       class="btn btn-sm btn-dark ms-auto">
                        <span class="fa-solid fa-eye"></span>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% else %}
<tr>
    <td class="text-center">Публикации не найдены</td>
</tr>
{% endif %}
{% endblock %}