{% extends 'base.html' %}
{% block content %}
<h1>Мои рецепты</h1>
{% if recipes %}
<ul class="list-group">
    {% for recipe in recipes %}
    <li class="list-group-item mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="{{ url_for('my_recipes.view_recipe', recipe_id=recipe['recipe_id']) }}">
                    <strong>{{ recipe['title'] }}</strong>
                </a>
                <div>{{ recipe['description'] }}</div>
                <small>Сложность: {{ recipe['difficulty'] or '-' }}</small>

            </div>
            <div>
                <form method="post"
                      action="{{ url_for('my_recipes.delete_recipe', recipe_id=recipe['recipe_id']) }}"
                      onsubmit="return confirm('Вы действительно хотите удалить рецепт?')">
                    {{ delete_form.csrf_token }}
                    <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>
                </form>
            </div>
        </div>

    </li>
    {% endfor %}
</ul>
{% else %}
<p>У вас пока нет созданных рецептов.</p>
{% endif %}
{% endblock %}
