{% extends 'base.html' %}
{% block content %}
<h1>Мои рецепты</h1>
{% if recipes %}
<ul class="list-group">
    {% for recipe in recipes %}
    <li class="list-group-item mb-3">
        <div class="d-flex justify-content-between align-items-center gap-3">
            <img src="{{ recipe['image_url']}}"
                 class="img-thumbnail"
                 style="width:220px; height:150px; object-fit:cover;">
            <div class="flex-grow-1" style="min-width: 0;">
                <a href="{{ url_for('my_recipes.view_recipe', recipe_id=recipe['recipe_id']) }}">
                    <strong>{{ recipe['title'] }}</strong>
                </a>
                <div class="mb-1 text-break" style="white-space: normal;">{{ recipe['description'] }}</div>
                <small>Сложность: {{ recipe['difficulty'] or '-' }}</small>

            </div>
            <div class="ms-auto d-flex align-items-center gap-1">
                <a href="{{ url_for('my_recipes.update_recipe', recipe_id=recipe['recipe_id']) }}"
                   class="btn btn-sm btn-secondary"
                   role="button"
                   title="Редактировать рецепт"
                   onclick="return confirm('Вы действительно хотите изменить рецепт?')">
                    <span class="fa-regular fa-pen-to-square"></span>
                </a>
                <form method="post"
                      action="{{ url_for('my_recipes.delete_recipe', recipe_id=recipe['recipe_id']) }}"
                      onsubmit="return confirm('Вы действительно хотите удалить рецепт?')">
                    {{ delete_form.csrf_token }}
                    <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>
                </form>
                {% if recipe['status_of_recipe'] not in ['publicated', 'under_consideration'] %}
                <form method="post"
                      action="{{url_for('my_recipes.publicate_recipe', recipe_id = recipe['recipe_id'])}}">
                    {{publicate_form.csrf_token }}
                    <button type="submit" class="btn btn-sm btn-success ms-auto"><span
                            class="fa-solid fa-reply"></span></button>
                </form>
                {% endif %}
                <form method="post"
                      action="{{url_for('planner.add_to_planner', recipe_id = recipe['recipe_id'], next = request.path)}}">
                    {{ add_to_planner_form.csrf_token }}
                    <button type="submit" class="btn btn-sm btn-dark ms-auto"><span
                            class="fa-solid fa-plus"></span></button>
                </form>

            </div>
        </div>

    </li>
    {% endfor %}
</ul>
{% else %}
<p>У вас пока нет созданных рецептов.</p>
{% endif %}
{% endblock %}
