{% extends 'base.html' %}
{% block title %} Главная страница {% endblock %}
{% block content %}
<h1>Рецепты</h1>
{% if all_recipes %}
<ul class="list-group">
    {% for recipe in all_recipes %}
    <li class="list-group-item mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="{{ url_for('my_recipes.view_recipe', recipe_id=recipe['recipe_id']) }}">
                    <strong>{{ recipe['title'] }}</strong>
                </a>
                <div>{{ recipe['description'] }}</div>
                <small>Сложность: {{ recipe['difficulty'] or '-' }}</small>

            </div>
            <div class="ms-auto d-flex align-items-center gap-1">
                <form method="post"
                      action="{{url_for('planner.add_to_planner', recipe_id = recipe['recipe_id'])}}">
                    {{ add_to_planner_form.csrf_token }}
                    <button type="submit" class="btn btn-sm btn-dark ms-auto"><span
                            class="fa-solid fa-plus"></span></button>
                </form>

                {% if current_user.role == 'admin' %}
                    <form method="post"
                          action="{{url_for('admin.delete_recipe', recipe_id = recipe['recipe_id'])}}"
                          onsubmit="return confirm('Вы действительно хотите удалить этот рецепт?')">
                        {{delete_form.csrf_token}}
                        <button type="submit" class="btn btn-sm btn-danger"><span class="fa-solid fa-trash"></span>
                        </button>
                    </form>
                {% endif %}
            </div>


        </div>


    </li>
    {% endfor %}
</ul>
{% else %}
<p>Пока что нет созданных рецептов</p>
{% endif %}
{% endblock %}

