{% extends "base.html" %}
{% block content %}
<h1>{{recipe.title}}</h1>
<p>{{recipe.description}}</p>
<p><strong>Сложность:</strong> {{recipe.difficulty or '-'}}</p>
<p><strong>Общее время выполнения:</strong> {{total_time}} минут</p>
<p><strong>Ингредиенты:</strong></p>
<ul>
    {% for ingredient in ingredients %}
    <li>
        {{ingredient.name}}
        {{ingredient.quantity}}
        {{ingredient.edin_izmer}}
    </li>
    {% endfor %}
</ul>


<h2>Этапы приготовления</h2>

<div class="row">
    {% for step in steps %}
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ loop.index }}. {{ step.name }}</h5>
                <p class="card-text"><strong>Длительность:</strong> {{ step.duration }} мин</p>
                <p class="card-text"><strong>Тип:</strong> {{ step.type_of }}</p>
                <p class="card-text">{{ step.description }}</p>
                {% if step.prev_numbers %}
                <p class="card-text">
                    <small class="text-muted">Зависит от:
                        {% for i in range(step.prev_numbers|length) %}
                        {{ step.prev_numbers[i] }} — {{ step.prev_names[i] }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </small>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
