<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            {{ bootstrap.load_css() }}
            <link rel = "stylesheet" href = "{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Добро пожаловать</title>
        {% endif %}
    </head>
    <body>
        <div><a href="{{ url_for('index.index') }}">Главная</a></div>
        <hr>
        {% block content %}{% endblock %}
        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>